*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
   height: 400px; 
   width: 85%;
    margin: auto;
    border: solid 1px;
    margin-top: 20px;
    text-align: center;
   display: grid;
  
   background-color:rgba(70, 131, 180, 0.2);
}

.content{
    grid-column: 1/ span 4;
    margin: auto;
    height: 300px;
    display: grid;
    width:200px;

   
}
.content button{
    height:30px;
    width: 80px;
    border-radius: 10px;
    background-color: rgb(97, 97, 189);
}
.conten2{
    grid-column: 5/ span 6;
}